input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input.invalid {
    background-color: rgba(255,0,0,.1)
}

textarea { resize: none; }

#content {
    position: absolute;
    top: -20px; /* Расстояние от верхнего края */
    left: 460px; /* Расстояние от левого края */ 
    width: 600px;
}

#chartHanded {
    position: absolute;
    left: -110px; /* Расстояние от левого края */
    width: 900px; 
    height: 500px;
}

#chartAuto {
    position: absolute;
    left: -110px; /* Расстояние от левого края */
    width: 900px; 
    height: 500px;
    top: 780px;
}

#errorFrequency {
    position: absolute;
    left : 165px;
    top: 52px;
}

#errorAmplitude {
    position: absolute;
    left : 165px;
    top: 90px;
}

#errorSamplingFrequency {
    position: absolute;
    left : 165px;
    top: 126px;
}

#errorPort {
    position: absolute;
    left : 175px;
    top: -8px;
}

#errorCommand {
    position: absolute;
    left : 175px;
    top: 203px;
}

#adressADC {
    position: absolute;
    left: 170px;
    top: 180px;
}

#errorAdressADC {
    position: absolute;
    left: 350px;
    top: 165px;
}

#adressDAC {
    position: absolute;
    left: 170px;
    top: 213px;
}

#errorAdressDAC {
    position: absolute;
    left: 350px;
    top: 200px;
}

#timeGener {
    position: absolute;
    left: 170px;
    top: 250px;
}

#errorTimeGener {
    position: absolute;
    left: 350px;
    top: 237px;
}

/*#sendAdress {
    position: absolute;
    left: 170px;
    top: 250px;
}*/

#buttonMeandr {
    position: absolute;
    left: 0px;
    top: 250px;
}