input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input.invalid {
    background-color: rgba(255,0,0,.1)
}

textarea { resize: none; }

#content {
    position: absolute;
    top: -20px; /* Расстояние от верхнего края */
    left: 460px; /* Расстояние от левого края */ 
    width: 600px;
}

#ADC {
	position: absolute;
    left: 1000px; /* Расстояние от левого края */ 
    width: 600px;
	top: 49px;
}

#chart {
    position: absolute;
    left: -110px; /* Расстояние от левого края */
    width: 900px; 
    height: 500px;
}

#errorFrequency {
    position: absolute;
    left : 165px;
    top: 87px;
}

#errorSamplingFrequency {
    position: absolute;
    left : 165px;
    top: 158px;
}

#errorPort {
    position: absolute;
    left : 175px;
    top: -8px;
}

#errorCommand {
    position: absolute;
    left : 175px;
    top: 203px;
}

#errorAdressDAC {
    position: absolute;
    left: 165px;
    top: 231px;
}

#errorAdressADC {
    position: absolute;
    left: 164px;
    top: 35px;
}

#errorTimeGener {
    position: absolute;
    left: 165px;
    top: 303px;
}